


body{
    color: rgb(92, 92, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}



.titlestyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(135, 188, 235); 
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
        }


.navstyle{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(235, 158, 135); 
    font-size: 15px;
    text-decoration: none;
  }

.navlocation{
    float: right;
}

div.anchor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 10px;
    text-decoration: none;
}



div.onestyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkgrey;
    font: size 15px;
    text-align: center;}


div.twostyle{
font-family: 'Times New Roman', Times, serif;
color:brown;
margin-left: 30px;
font-size: 10px;
}


div.threestyle{
font-family: Arial, Helvetica, sans-serif;
color: aquamarine;
float: center;
font-size: 30px;

}